{% extends 'administrator/base.html' %}
{% block title %}Program Delete Confirm {% endblock %}

{% block content %}
    <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Confirm Program Deletion</h5>
              </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <p> Are you sure you want to delete "{{ object }}"?</p>
                        <p class="text-warning"> <strong>Any Courses Associated With It Will Also Be Deleted.</strong></p>
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
          </div>
{% endblock content %}