{% extends 'administrator/base.html' %}
{% block title %} Program Update{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
          <div class="col-lg-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Update Program</h5>
                <p class="card-category">Fill Form Bellow To Update {{ program }}.</p>
              </div>

                <div class="card-body">
                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" value="Update" class="btn btn-outline-success">
                    </form>
                </div>
            </div>
          </div>
        </div>
{% endblock content %}