{% extends 'headway/base.html' %}
{% block title %}Student Accounts Page{% endblock %}

{% block content %}
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">{{ request.user|capfirst }} Accounts </h5>
                <p class="card-category">This Is Your Student Accounts Page, Showing A List Of All Your Invoices
                    and Payments Made.</p>
              </div>

            <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h6 class="card-title">Outstanding Balance </h6>
              </div>

              <div class="card-body ">
                  <h6 class="text-danger">You Currently Owe: ZMW {{ outstanding }}</h6>
              </div>
            </div>
          </div>
            </div>

              <div class="card-body ">
              {% if invoices %}
                    <div class="table-responsive">
                          <table class="table">
                          <h3>Invoices</h3>
                            <thead class=" text-primary">
                              <th> No. </th>
                              <th> Details </th>
                              <th> Date </th>
                              <th class="text-right"> Amount </th>
                            </thead>
                            <tbody>

                            {% for invoice in invoices %}
                                <tr>
                                <td>
                                  {{ forloop.counter }}
                                </td>
                                <td>
                                  {{ invoice.description }}
                                </td>
                                <td>
                                  {{ invoice.date }}
                                </td>
                                <td class="text-right">
                                  ZMW {{ invoice.total_amount }}
                                </td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
              {% else %}
                  <div class="text-center">
                      <h3>No Invoices</h3>
                      <p class="card-category">No Invoices Have Been Created For You Yet</p>
                  </div>
              {% endif %}

            {% if payments %}
              <div class="table-responsive">
                 <table class="table">
                 <h3>Payments</h3>
                   <thead class=" text-primary">
                     <th> No. </th>
                     <th> Details </th>
                     <th> Date </th>
                     <th class="text-right"> Amount </th>
                   </thead>
                   <tbody>

                   {% for payment in payments %}
                       <tr>
                       <td>
                         {{ forloop.counter }}
                       </td>
                       <td>
                         {{ payment.description }}
                       </td>
                       <td>
                         {{ payment.date }}
                       </td>
                       <td class="text-right">
                         ZMW {{ payment.amount }}
                       </td>
                     </tr>
                   {% endfor %}
                   </tbody>
                 </table>
              </div>
            {% else %}
                <div class="text-center">
                <hr class="btn-primary">
                <h3>No Payments</h3>
                <p class="card-category">You Have Not Made Any Payments Yet</p>
                </div>
            {% endif %}

            </div>
          </div>
        </div>
{% endblock content %}