{% extends 'headway/base.html' %}
{% block title %}Lecturer Home{% endblock title %}


{% block content %}
    <div class="row">
     <!-- Notification work-->
    {% if recent_news %}
        <div class="card-body">
        {% for notification in recent_news %}
            <div class="alert alert-info alert-with-icon alert-dismissible fade show" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <span data-notify="icon" class="nc-icon nc-bell-55"></span>
                <span data-notify="message" style="font-size: medium">{{ notification.news.get_content }}</span>
            </div>
        {% endfor %}
        </div>
    {% endif %}

    {% if courses %}
        {% for course in courses %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-single-copy-04 text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">{{ course.program }}</p>
                      <p class="card-title">{{ course }}
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                    <a href="{{ course.get_absolute_url }}">
                     View Course
                    </a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">No Courses</h5>
                <p class="card-category">There Are No Courses Currently Assigned To You.</p>
              </div>
            </div>
          </div>
    {% endif %}
        </div>

     <!-- The Bit about Events -->
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Up Coming</h5>
                <p class="card-category">Up Coming Events, Exams</p>
              </div>
              <div class="card-body ">

              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}